

body {
    margin: 0;
    text-align: center;
    font-family:"Fredoka", sans-serif;
}

.header { 
    background:
    linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0.5)),
    url("./images/xiva.jpg");
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
}


.header h1,h2 {
    color: #090909;
    background-color: rgba(209, 153, 89, 0.55);
    margin: 15px 20px;
    padding: 15px;
    border-radius: 10px;
}


#activities {
    background-color: #efeeee;
    margin: 0;
}
#activity-header {
    margin: 0;
    font-size: 35px;
    padding: 40px;
}

.container {
    display: flex;
    justify-content: center;
    
}

.container h3 {
    font-size:18px;
}

.container p {
    font-size: 14px;
}


.activity {
    width: 320px;
    background-color: rgb(250, 252, 252);
    margin: 30px;
    padding:15px;
    border: 1px solid rgb(250, 252, 252);
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.activity-image {
    width: 300px;
    height: 170px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;

}

.guide {
width: 450px;
margin: 30px auto;
padding: 20px;
display: flex;
text-align: center;
background-color: #d7e8f8;
color: #39282b;
border-bottom: 6px solid #d8cefe;
border-radius: 15px;
flex-direction: row;
}

.guide p {
    padding: 15px;
}

.avatar-image {
width: 150px;
height: 150px;
border-radius: 10%
}

